@use '../../styles/variables.scss';
.editor__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
  padding: 40px 5px 5px 5px;
  border: 2px solid $border-color;
  height: calc(100vh - 145px);
  background-color: $background-editor;
  @media (max-width: 540px) {
    flex-direction: column;
    gap: 5px 0;
  }
}
.editor__code {
  height: 100%;
  width: 50%;
  @media (max-width: 540px) {
    width: 100%;
    height: 50%;
  }
}
.editor__svg {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
}
.editor__button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
}
.editor__headers_variables {
  position: absolute;
  left: 45px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
}
.drawer {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: $background-color;
}
.anticon-close {
  font-size: 18px;
  color: $text-color;
  transition: 0.2s;
}
.anticon-close:hover {
  color: $navigate-color !important;
}
.ant-drawer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  color: $text-color !important;
}
.drawer .ant-drawer-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.drawer .ant-drawer-body::-webkit-scrollbar-track {
  background-color: inherit;
}
.drawer .ant-drawer-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.drawer .ant-drawer-body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.editor__close {
  display: none;
}
.editor__open {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 50%;
  padding: 5px;
  border: 2px solid $background-editor;
  @media (max-width: 540px) {
    width: 100%;
    height: 50%;
  }
}
