@import '../styles/variables.scss';
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $text-color;
  &:active {
    color: currentColor;
  }
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100% - 20px);
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text-color;
  font-style: normal;
  background-color: $background-color;
}
.main {
  height: calc(100vh - 111px);
}

@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
