.header {
  height: 75px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 75px;
  @media (max-width: 380px) {
    width: 32px;
  }
}
.header__logo_image {
  display: block;
  background-image: url('../../assets/graphql_logo.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.header__logo_name {
  color: $text-color;
  font-size: 1.5rem;
  transition: 0.5s;
  &:hover {
    color: $navigate-color;
  }
  @media (max-width: 380px) {
    display: none;
  }
}
.header__nav_icon {
  cursor: pointer;
  width: 30px;
  height: 24px;
  transition: 0.5s;
  &:hover {
    color: $navigate-color;
  }
}
